version: '3'

services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
      - data:/app/data
    env_file:
      - .env
    restart: unless-stopped

volumes:
  data:
